{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
&nbsp;
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center index-font">For all of your pet needs - visit Pawfect Pets!</h1>
        </div>
    </div>
</div>

<!--- Shop collections
<div class="container container-fluid">
<div class="row">
<div class="col-lg-4 col-sm-12"><img src="media/dog_shop.jpg" alt="dog" class=" img-fluid"></div>
<div class="col-lg-4 col-sm-12"><img src="media/cat_shop.jpg" alt="cat" class=" img-fluid"></div>
<div class="col-lg-4 col-sm-12"><img src="media/guinea_shop.jpg" alt="guinea" class=" img-fluid"></div>
</div> -->
    
{% endblock %}