{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
&nbsp;
<div class="container-fluid h-100 ">
    <div class="row h-100  hero-img ">
        <div class="col ">
            <h1 class="text-center index-font margin-index">For all of your pet needs - visit Pawfect Pets!</h1>
        </div>
    </div>
</div>


<div class="container-fluid con">
    <div class="row">
        <div class="col-lg-4 col-sm-12"><img src="media/dog_shop.jpg" alt="dog" class=" img-fluid">
            <a class="btn btn-light btn-lg" href="#" role="button">Shop now - Dog</a>
        </div>
        <div class="col-lg-4 col-sm-12"><img src="media/cat_shop.jpg" alt="cat" class=" img-fluid">
            <a class="btn btn-light btn-lg" href="#" role="button">Shop now - Cat</a>
        </div>
        <div class="col-lg-4 col-sm-12"><img src="media/guinea_shop.jpg" alt="guinea" class=" img-fluid">
            <a class="btn btn-light btn-lg" href="#" role="button">Shop now - Small pets</a>
        </div>
    </div> 
</div>
    
{% endblock %}