<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="subtitle-font nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class=" subtitle-font nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item dropdown-font">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item dropdown-font">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item dropdown-font">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link  subtitle-font mr-5" href="{% url 'products' %}?category=Dogs" id="clothing-link"  aria-haspopup="true" aria-expanded="false">
                Dogs
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link  subtitle-font mr-5" href="{% url 'products' %}?category=Cats" id="homeware-link"  aria-haspopup="true" aria-expanded="false">
                Cats
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link  subtitle-font mr-5" href="{% url 'products' %}?category=small_animals" id="specials-link"  aria-haspopup="true" aria-expanded="false">
                Small animals
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link  subtitle-font mr-5" href="{% url 'blog' %}" id="specials-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>
    </ul>
</div>