{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    
    <!-- blog post contaoiner -->
<div class="container container-pad mt-2 mb-5">
    {% for blogpost in blogposts %}
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 mt-2 mb-5">
                <h2 class="post-title">{{ blogpost.title }}</h2>
                <hr>
                <small class="p-2 text-muted">Author - {{ blogpost.author }}</small><br>
                <small class="p-2 text-muted">{{ blogpost.date }}</small>
            </div>
            {% if blogpost.image %}
                <div class="col-12 col-lg-8 offset-lg-2 mt-2 mb-2">
                    <img src="{{ MEDIA_URL }}{{ blogpost.image }}" alt="Image for {{ blogpost.title }}" class="img-fluid">
                </div>
            {% endif %}
                <div class="mt-3 mb-5 p-2 post-body">
                    {{ blogpost.blog_content }}
                </div>
           {% endfor %}
        </div>
    </div>