{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h1 class="product-font text-center"><strong>Blog</strong></h1>
                <hr class="w-50 mb-1">
            </div>
        </div>
    </div>

    {% endblock %}