{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'pages/css/faq.css' %}">
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="product-font text-center"><strong>FAQ</strong></h1>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>


<div class="container-fluid product-font  font-weight-bold ">
  <div class="row justify-content-center ">
  <div class="col-lg-8 ">
  Delivery
<div class="accordion " id="accordionExample">
    <div class="card">
      <div class="card-header bg-color-q" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left q-font" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Can I cancel or amend my order?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse bg-color-a" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Orders can be cancelled within the first 24 hours of ordering the products. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-color-q" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            How long will my items take to be delivered?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse bg-color-a" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Delivery depends on which type of delivery you select. Express delivery usually takes 1-2 working days while standard delivery can take 3-5 days.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-color-q " id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Can I track my order?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse bg-color-a" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Yes, you will received tracking details of your items when you receive your order confirmation. 
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-color-q " id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How can I change my delivery and/or billing address for future purchases?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse bg-color-a" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Delivery and billing details can both be changed in the <a href="{% url 'profile' %}" page>Profile page</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-color-q " id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Why can't I track my order?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse bg-color-a" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          This can happen from time to time depending on which carrier has your package. Please check back at a later time or contact your carrier.
        </div>
      </div>
  </div>
</div>
</div>

<div class="col-lg-8 ">
  Returns
<div class="accordion " id="accordionExample">
    <div class="card">
      <div class="card-header bg-color-q" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left q-font" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How long does it take to get a refund?
          </button>
        </h2>
      </div>
  
      <div id="collapseOne" class="collapse bg-color-a" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Refunds usually take a week to show on any bank statements. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-color-q" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What is your returns policy?
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse bg-color-a" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          The items being returned should returned in good condition and returns should be made within 14 days of purchase. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header bg-color-q " id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Can I exchange an item to the store instead of a refund?
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse bg-color-a" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Yes, items can be exchanged for the same value of money. If an item costs more than the original price of the original item, 
          these charges will be made to the card paying for the items.
        </div>
      </div>
    </div>
  </div>
  
</div>
</div>
</div>
    {% endblock %}
