
    <!-- Header -->
    <div class="row justify-content-center product-font">
        <div class="col-12 col-md-6 review-header">
            <hr>
            <h2 class="product-font mb-4 text-full text-center">My Review</h2>
            <hr>
        </div>
    </div>

     <!-- Form -->
    <div class="row justify-content-center product-font">
        <div class="col-12 col-lg-6 bg-white rounded shadow-sm p-4 mb-5 review-form">
            <h5 class="mb-4 review-write-detail">Leave a Review</h5>
            <form method="POST" action="{% url 'add_review' product.id %}" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>

                <!-- Buttons -->
                <div class="form-group">
                    <a class="btn btn-secondary rounded-0" href="{% url 'products' %}">Cancel</a>
                    <button class="btn btn-dark text-full rounded-0" type="submit"> Submit Review 
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

